<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MissingFinder</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='lodash.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='immutable.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='axios.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
</head>
<body>

<div class="container">
    <h1>Missing Finder</h1>

    <ul class="tabs">
        <li data-section="train-content">Pessoa perdida</li>
        <li data-section="recognize-content">Reconhecer</li>
    </ul>

    <div id="train-content">
        <h2>Pessoa perdida</h2>
        <form method="post" id="train">
            <div class="message">

            </div>
            <p class="description">Faça upload de uma imagem de uma face da pessoa perdida e informe os dados dela.</p>
            <div class="form-item">
                <label for="input-file">Imagem</label>
                <input type="file" name="file" id="input-file" accept="image/*"/>
            </div>
            <div class="form-item">
                <label>ID</label>
                <input id="id-field" name="id" value="" type="number" placeholder="ID"/>
            </div>
            <div class="form-item">
                <label>Nome</label>
                <input id="name-field" name="name" value="" type="text" placeholder="Nome"/>
            </div>
            <div class="form-item">
                <label>Idade</label>
                <input id="age-field" name="age" value="" type="number" placeholder="Idade"/>
            </div>
            <div class="form-action">
                <button type="submit">Salvar</button>
            </div>
        </form>
    </div>

    <div id="recognize-content">
        <h2>Reconhecer</h2>

        <form method="post" id="recognize">
            <div class="message">

            </div>
            <p class="description">Faça upload de uma imagem com a face da pessoa desaparecida.</p>
            <div class="form-item">
                <label for="input-file">Imagem</label>
                <input type="file" name="file" id="recognize-input-file" accept="image/*,video/*"/>
            </div>
            <div class="form-item">
                <label>Id</label>
                <input id="id-field" name="id" value="" type="text" placeholder="id"/>
            </div>
            <div class="form-action">
                <button type="submit">Reconhecer</button>
            </div>
        </form>
    </div>

</div>

</body>
</html>